.country-main{
    display: flex;
    flex-direction: column;
    padding: 4.5em 4em 0 4em;
}

.backlink{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9em;
    height: 2.7em;
    border-radius: .5em;
    box-shadow: 0 0 1em lightgrey;
    color: black;
    background-color: white;
    transition: color .2s, box-shadow .2s, background-color .2s;
}

.backlink i{
    position: relative;
    right: 1em;
}

.country-infos-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    transition: color .2s;
}

.country-flag{
    display: flex;
    align-items: center;
    width: 36em;
    width: 36em;
    height: 24.12em;
}

.country-flag img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.country-infos{
    margin-left: 6em;
}

.country-name{
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 800;
}

.country-details{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
    grid-gap: .5em 4em;
}

.country-details li{
    font-weight: 400 !important;
}

.country-details span{
    font-weight: 600;
}

.border-countries{
    display: flex;
    position: relative;
    margin-top: 3em;
    padding-bottom: 2em;
}

.border-countries p{
    position: relative;
    top: .5em;
    white-space: nowrap;
}

.border-countries ul{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 8em;
    margin-left: .6em;
    max-width: 22em;
}

.border-countries a{
    color: black;
    transition: color .2s;
}

.border-countries li{
    margin: .3em;
    padding: .3em 1.5em;
    box-shadow: 0 0 .3em lightgrey;
    border-radius: .5em;
    font-weight: 400;
    background-color: white;
    transition: box-shadow .2s, background-color .2s;
}

.error-message{
    position: absolute;
    left: 4em;
}

.dark{
    color: white;
}

.backlink.dark, .dark .border-countries li{
    box-shadow: 0 0 1em rgb(30, 30, 30);
    background-color: hsl(209, 23%, 22%);
}

.dark .border-countries a{
    color: white;
}

@media screen and (max-width: 1390px){

    .country-flag{
        width: 20em;
        height: 13.4em;
    }

    .country-infos{
        margin-left: 4em;
    }
}

@media screen and (max-width: 780px){

    .country-main{
        padding: 3em 2.5em 0 2.5em;
    }

    .backlink{
        font-size: 1.2em;
    }

    .country-infos-container{
        flex-direction: column;
    }

    .country-flag{
        width: 100%;
        height: auto;
        margin-bottom: 4em;
    }

    .country-infos{
        width: 100%;
        margin-left: 0;
    }
    
    .country-details{
        display: flex;
        flex-direction: column;
        gap: 1em;
        font-size: 1.3em;
    }

    .country-details li:nth-child(6){
        margin-top: 2.5em;
    }

    .border-countries{
        flex-direction: column;
        align-items: center;
        font-size: 1.3em;
    }

    .border-countries p{
        align-self: flex-start;
    }

    .border-countries ul{
        position: relative;
        left: 0;
        margin-top: 2em;
    }
}