header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    padding: 0 4em;
    box-shadow: 0 0 1em lightgray;
    background-color: white;
    transition: background-color .2s, box-shadow .2s, color .2s;
}

header.dark{
    color: white;
    box-shadow: 0 0 1em rgb(30, 30, 30);
    background-color: hsl(209, 23%, 22%);
}

header h1{
    font-size: 1.5em;
    font-weight: 800;
}

.dark-mode-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 6.4em;
    cursor: pointer;
}

.dark-mode-button i{
    position: absolute;
    top: .06em;
    left: 0;
    transform: rotate(-15deg);
    transition: opacity .2s;
}

.darkmoon{
    opacity: 0;
}

.dark-mode-button p{
    user-select: none;
}

@media screen and (max-width: 780px){
    header{
        padding: .5em 2em;
    }
    .dark-mode-button i{
        top: .2em;
    }
}