.homemain{
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    padding: 0 4em;
}

.searching{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.searchbar{
    width: 27em;
    padding: 1em 1.5em;
    border-radius: .5em;
    background-color: white;
    box-shadow: 0 0 1em lightgray;
    transition: background-color .2s, box-shadow .2s, color .2s;
}

.searchbar input{
    width: 90%;
    margin-left: 1.2em;
    border: none;
    outline: none;
    transition: background-color .2s, color .2s;
}

.searchbar i{
    color: hsl(0, 0%, 52%);
}

.select-box{
    width: 13em;
    background-color: white;
    box-shadow: 0 0 1em lightgray;
    border-radius: .5em;
    transition: background-color .2s, box-shadow .2s;
}

.searching.dark .select-box, .searching.dark .searchbar{
    box-shadow: 0 0 1em rgb(30, 30, 30);
    background-color: hsl(209, 23%, 22%);
    color: white;
}

.searching select{
    width: 90%;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background-color: white;
    transition: background-color .2s, box-shadow .2s, color .2s;
}

.searching.dark select, .searching.dark .searchbar input{
    color: white;
    background-color: hsl(209, 23%, 22%);
}

.countries{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    margin-top: 3em;
    justify-items: center;
    grid-gap: 5em 2em;
    padding-bottom: 3em;
}

.countries section{
    display: flex;
    flex-direction: column;
    width: 20em;
    height: 24em;
    border-radius: .5em;
    box-shadow: 0 0 1em lightgray;
    color: black;
    background-color: white;
    transition: color .2s, background-color .2s, box-shadow .2s;
}

.countries section a{
    color: black;
    transition: color .2s;
}

.countries.dark section{
    box-shadow: 0 0 1em rgb(30, 30, 30);
    background-color: hsl(209, 23%, 22%);
}

.countries.dark section a{
    color: white;
}


.country-flag {
    width: 100%;
    height: 11em;
    border-radius: .5em .5em 0 0;
    object-fit: cover;
}

.country-name{
    margin: 1.5em 0 1em 1.2em !important;
    font-size: 1.2em;
    font-weight: 800 !important;
}

.countries section p {
    margin: .2em 1.5em;
    font-weight: 400;
}

.infotitle{
    font-weight: 600;
}

.no-country{
    position: absolute;
    left: 5em;
    transition: color .2s;
}

.dark .no-country{
    color: white;
}

@media screen and (max-width: 780px){

    .homemain{
        padding: 0 2em;
    }

    .searching{
        flex-direction: column;
        margin-bottom: 3em;
    }

    .searchbar{
        width: calc(100% - 3em);
        margin-bottom: 3em;
    }

    .searching .select-box{
        align-self: flex-start;
    }
    
    .countries{
        grid-gap: 4em;
        grid-template-columns: 1fr;
    }

    .countries section{
        width: 80%;
        height: auto;
        padding-bottom: 2em;
    }

    .country-flag{
        height: 15em;
    }
}